/* header */

.header {
    position: relative;
    padding: var(--space-lg) var(--space-md)
}

.top-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: clamp(80px, 40%, 120px);
}


.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.menu-icon {
    width: 40px;
    position: relative;
    z-index: 30;
}

.menu,
.hero-desktop,
.arrow-up {
    display: none;
}

/* hamburger menu */

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: min(70%, 320px);
    padding: 6rem var(--space-lg);

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    background-color: var(--White);
    overflow-y: auto;
    z-index: 20;

    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.3s ease, visibility 0.3s ease;
}

.navigation.is-open {
    transform: translateX(0);
    visibility: visible;
}

/* dark overlay */

.overlay {
    position: fixed;
    inset: 0;
    /* top/right/bottom/left = 0 */
    background-color: var(--overlay-color);
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
}

/* no scroll behind menu */
body.no-scroll {
    overflow: hidden;
}

/* dropdown menu mobile */

.nav-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.nav-section>button {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.icon-close {
    display: none;
}

.menu {
    flex-direction: column;
    gap: var(--space-sm);
    padding-left: var(--space-md);
}

.menu a {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.link {
    text-decoration: none;
    color: var(--Black);
    opacity: 0.6;
    transition: all 0.2s ease;
}

.link:hover,
.link:focus {
    opacity: 1;
}

button.link:focus {
    transform: scale(1.02);
    opacity: 1;
}

/* opened */

.nav-section.is-open .menu {
    display: flex;
}

.nav-section.is-open .icon-open {
    display: none;
}

.nav-section.is-open .icon-close {
    display: block;
}

/* login buttons */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

.button {
    padding: var(--space-sm) 0;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: var(--radius-lg);
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    flex: 1;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-text {
    padding: 0 var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: var(--fs-xxl);
}

.hero-description {
    font-size: var(--fs-lg);
    scale: 0.85;
    color: var(--Gray-500);
    margin: 0 var(--space-sm);
}

.cta-btn {
    margin: var(--space-lg) 0;
    background-color: var(--Black);
    color: var(--White);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--radius-lg);
    transition: all 0.2s ease-in;
}

.cta-btn:hover,
.cta-btn:focus {
    border: 1px solid var(--Black);
    background-color: var(--White);
    color: var(--Black);
    transform: scale(1.005);
}

.clients-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-lg);
    width: 100%;
    height: auto;
}

.icon {
    flex: 0 1 auto;
    min-width: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 1.5rem;
    object-fit: contain;
}

/* footer */

.footer {
    font-size: var(--fs-lg);
    text-align: center;
}

.footer a {
    color: var(--Gray-950);
    text-decoration: none;
    text-shadow: 2px 2px 2px var(--Gray-500);
}

/* Desktop Layout */
/* 62rem = 992px based on defualt 16px font size root HTML*/
@media screen and (min-width: 62rem) {

    .header {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .top-mobile {
        width: clamp(120px, 100%, 160px);
    }

    .logo {
        width: clamp(120px, 100%, 160px);
    }

    .hero-mobile,
    .menu-icon {
        display: none;
    }

    .navigation {
        position: relative;
        height: 50px;
        width: 100%;
        visibility: visible;
        flex-direction: row;
        transform: none;
        overflow: unset;
        padding: 0;
        align-items: center;
    }

    .buttons {
        flex-direction: row;
        width: clamp(120px, 100%, 180px);
        margin-left: auto;
    }

    .button {
        width: clamp(80px, 100%, 110px)
    }

    /* main */

    .main {
        flex-direction: row-reverse;
        justify-content: center;
        padding-inline: clamp(2rem, 10vw, 11rem);
        gap: clamp(1.5rem, 4vw, 5rem);
    }

    .main section {
        max-height: 700px;
    }

    .hero-image {
        display: flex;
        align-items: center;
        width: clamp(150px, 50%, 510px);
        max-width: 510px;
    }

    .hero-desktop {
        display: block;
        height: clamp(200px, 100%, 680px);
    }

    .hero-text {
        text-align: left;
        align-items: flex-start;
        justify-content: flex-end;
        width: clamp(200px, 100%, 700px);
        flex-shrink: 1;
    }

    .hero-title {
        font-size: var(--fs-huge);
        max-width: 680px;
        line-height: var(--space-3xl);
        margin-bottom: var(--space-xxl);
    }

    .hero-description {
        margin: 0;
        scale: 1;
        max-width: 500px;
    }

    .cta-btn {
        margin-bottom: 8rem;
        padding: var(--space-md) var(--space-lg);
    }

    .clients-icons {
        max-width: 510px;
    }

    /* Desktop dropdown menus */

    .nav-section {
        position: relative;
    }

    .menu {
        position: absolute;
        top: 100%;
        padding: var(--space-md);
        background-color: var(--White);
        box-shadow: 1px 0 15px var(--shadow);
        border-radius: var(--radius-md);
        transition: all 0.2s ease-in;
    }

    .menu:hover,
    .menu:focus-within {
        box-shadow: 2px 0 25px var(--shadow);
        transform: scale(1.02);
    }

    .features {
        padding: var(--space-md) var(--space-lg);
        right: 0;
    }

    .company {
        left: 0;
        width: 120px;
    }
}

/* Transition Accesibilty fix */

@media (prefers-reduced-motion: reduce) {
    * {
        transition: all 0.01ms linear !important;
    }
}